<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>ZapWeb</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link type="text/css" rel="stylesheet" href="~/Public/bootstrap/css/bootstrap.css" media="all">
        <link type="text/css" rel="stylesheet" href="~/Public/bootstrap/css/font.css" />
        <link type="text/css" rel="stylesheet" href="~/Public/bootstrap/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="~/Public/bootstrap/css/simple-line-icons.css" />

        <script type="text/javascript" src="~/Public/lib/jquery/jquery.js"></script>
        <script type="text/javascript" src="http://cdn.siempresistemas.com.br/pillar/pillar.develop.js?v12345" app="/Public/app.js" config="/Public/app.config.js" version="1.A0"></script>

        <script type="text/javascript">
            var CurrentUsuario = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.ViewData["usuario"]));
        </script>

    </head>

    <body>

        <div at="navigation"></div>

        <div at="body"></div>

        <div id="progress"></div>

    </body>

</html>
